.captionText{
    color: rgba(73, 73, 73, 0.6);
    font-weight: 400;
}


.registerForm input {
border: unset !important;
}
.registerForm i {
    color: rgba(131, 145, 161, 1)
}

.input-group-text {
    background-color: red !important;
}

.registerForm span{
    padding-right: unset;
}

.loginBtn {
    color: rgba(74, 163, 90, 1);
    background-color: unset;
    border: unset;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.registerBtn {
    width: 34.2rem;
    color: white;
    font-weight: 700;
    margin-bottom: 2.2rem;
    padding-block: 0.6rem;
    border-radius: 8px;
    margin-top: 1.4rem;
}

.formCaption {
    margin-bottom: 2.25rem;
}

.formWrapper {
    padding-inline: 3.8rem;

       & input {
        padding-block: 0.75rem;
        border-radius: 8px !important;

        }

    & ::placeholder {
        padding-inline: 8px;
        border-left: 1px solid rgba(131, 145, 161, 1);

    }
}



.errorMessage {
    margin-bottom: 10px;
}

.formImage {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerImage {
    display: none;

}


.fileUpload{
    display: none;

  }
  .customFileUpload {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.526);
  }

  .flexInputs{
    display: flex;

}
.rightInputs {
    margin-right: 6.2rem;
}
.cameraIcon {
    background-color: white;
    padding: 0.75rem;
    border-radius: 50%;
}
.photoText {
    max-width: 100px;
    text-align: center;
}
.discardBtn {
    position: absolute;
    top: 20px;
    
    left: 20px;
}
.discardBtn:hover i {
color: red;
}